Source: @@PRODUCT@@
Section: web
Priority: extra
Maintainer: Couchbase <support@couchbase.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.1
Homepage: http://couchbase.com

Package: @@PRODUCT@@
Architecture: any
Depends: @@CUSTOM_DEPENDENCIES@@, lsb-base (>= 3.2)
Description: @@PRODUCT@@
Replaces: any
Breaks: any
