.bb_header {
    background-color:white;
    color:black;
    text-align:left;
    padding:10px;
    font-size:18px;
    height:9%;
    font-weight:bold;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.bb_navbar {
    line-height:22px;
    background-color:#2e2e2e;
    color:white;
    font-size:16px;
    text-align:left;
    height:2%;
    width:100%;	 	 
}.bb_navbar a {
    color:white;
}.bb_navbar a:hover {
    color:red;
}

.bb_sidebar {
    background-color:#eee;
    color:white;
    font-size:16px;
    width:15%;
    color:#2e2e2e;
    text-align:left;
    height:87%;
    padding-left:10px;	 	 
    float:left;
}

.bb_section {
    background-color:white;
    width:85%;	 	 
    color:#2e2e2e;
    text-align:left;
    padding-left:20px;	 	 
    height:87%;
    float:left;
    display:inline;
}

.bb_footer {
    line-height:20px;
    background-color:#2e2e2e;
    clear:both;
    color:white;
    font-size:14px;
    text-align:center;
    width:100%;	 	 
    height:2%;
}

