.build_table{
	margin:0px;padding:0px;
	width:100%;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	background-color:#fff;
}.build_table table{
	width:100%;
	margin:0px;padding:0px;
}.build_table tr:hover td{
	background-color:#eee;
}.build_table tr:first-child td{
	background-color:#086a87;
	text-align:center;
	font-size:16px;
	font-family:Georgia;
	font-weight:bold;
	color:#fff;
}.build_table td {
	background-color:#fff;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:calibri;
	font-weight:bold;
	color:#000000;
}.build_table td.success {
    color: #00cc00;
    font-weight: bold;
    font-size: 16px;
}.build_table td.failed {
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
}.build_table td.incomplete {
    color: #bf360c;
    font-weight: bold;
    font-size: 14px;
}.build_table td.unstable {
    color: #d7df00;
    font-weight: bold;
    font-size: 14px;
}.build_table td.timeout {
    color: #bf000c;
    font-weight: bold;
    font-size: 12px;
}.build_table td.pending {
    color: #0000ff;
    font-weight: bold;
    font-size: 12px;
}
