Package: couchbase-release
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Couchbase
Description: This package contains Couchbase repository GPG key as well as configuration for apt repository
