mailto:build-team@couchbase.com?subject=Please Create {GERRIT_PROJECT} Branch for {RELEASE_NAME}&body=Please create a new branch in the git project {GERRIT_PROJECT} for the restricted manifest {MANIFEST} for upcoming release {RELEASE_NAME}. Thanks!

