<h1>Restricted Commit - PROGRAM FAILURE</h1>

The restricted-branch-check program aborted with an exception:
<hr>
<pre>{EXC_MESSAGE}</pre>
<hr>
Please check the Jenkins job log for full details.

<h3>Why did this happen?</h3>
The failure was probably due to a situation out of our control, such as
GitHub maintenance or a network outage.

<h3>What can I do?</h3>
Please wait a short while, then try re-checking your Gerrit change
(see below).

<h3>Re-checking your Gerrit change</h3>
You can make your Gerrit change be re-checked for approval. To do so,
simply post a comment on the Gerrit change with the text
"<tt>check approval</tt>". Your change will be re-checked within a minute.
