Source: @@PRODUCT@@
Section: web
Priority: extra
Maintainer: Couchbase <support@couchbase.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.8.1
Homepage: http://couchbase.com

Package: @@PRODUCT@@
Architecture: any
Description: @@PRODUCT@@
Replaces: any
