[gerrit]
	basePath = git
	canonicalWebUrl = http://review.couchbase.org/
[database]
	type = h2
	database = db/ReviewDB
[auth]
	type = OPENID
	allowGoogleAccountUpgrade = true
	contributorAgreements = true
[sendemail]
	smtpServer = localhost
	from = Code Review <review@couchbase.org>
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-6-openjdk/jre
[sshd]
	listenAddress = *:29418
	cipher = +none
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[cache "web_sessions"]
	maxAge = 1w
[commentlink "bugzilla"]
	match = "([Bb][Uu][Gg]:?\\s+#?)(\\d+)"
	link = http://bugs.northscale.com/show_bug.cgi?id=$2
[commentlink "jira"]
	# match = ([MmCc][Bb](\\w+)*[-\\s]?\\d+)
        match = ((JSCBC|NCBC|CCBC|CBHADOOP|JCBC|CBMA|CBMI|PCBC|PYCBC|CBQE|RCBC|MB|CBD|CB|SITES|CBSE|FORUM|GC|RCBCEM|SPY)(\\w+)*[-\\s]?\\d+)
	link = http://www.couchbase.org/issues/browse/$1

[trackingid "jira-bug"]
	footer = Bugfix:
	match = [Mm][Bb]-\\d{2,8}
	system = JIRA

[trackingid "jira-feature"]
	footer = Feature
	match = MB-(\\d{2,8})
	system = JIRA

[download]
  scheme = ssh

[core]
	packedGitOpenFiles = 512

[mimetype "image/*"]
	safe = true

[gitweb]
	cgi = /usr/lib/cgi-bin/gitweb.cgi
	# cgi = /var/www/htdocs/cgit/cgit.cgi
	# type = cgit

[theme]
	backgroundColor = ffffff
	topMenuColor = f5f5f5
	textColor = 000000
	trimColor = f5f5f5
	selectionColor = cccccc

# [gitweb]
# 	type = custom
# 	url = http://github.com/northscale/
# 	revision = ${project}/commit/${commit}
# 	project = ${project}
# 	branch = ${project}/commits/${branch}
