<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8">
	<meta content="en" http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Couchbase buildboard</title>
	<!-- meta http-equiv="refresh" content="60" -->
	<style type="text/css">a {text-decoration: none}</style>
	<link rel="stylesheet" href="/static/buildboard.css" type="text/css"/>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body style="margin: 0px; padding: 0px; font-family: 'Georgia',Trebuchet MS,sans-serif;">

<div style="width:100%; height:1000px;">
<!-- ============ HEADER ============== -->
<div class="bb_header">
	<h1><img src="/static/couchbase.png" hspace="10" width="60" height="60">Buildboard</h1>
</div>

<!-- ============ NAVIGATION BAR ============== -->
<div class="bb_navbar">
    <span style="margin:5%"><a href="/dashboard";">Dashboard</a></span>
    <span class="dropdown" style="margin:30%">
        <a href="javascript:void(0)">Jenkins<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://server.jenkins.couchbase.com/view/All/job/couchbase-server-unix">Spock/Vulcan-Unix</a></li>
              <li><a href="http://server.jenkins.couchbase.com/view/All/job/couchbase-server-windows">Spock/Vulcan-Windows</a></li>
              <li><a href="http://server.jenkins.couchbase.com/view/All/job/watson-unix">Watson-Unix</a></li>
              <li><a href="http://server.jenkins.couchbase.com/view/All/job/watson-windows">Watson-Windows</a></li>
              <li><a href="http://factory.couchbase.com/view/All/job/sherlock-unix">Sherlock-Unix</a></li>
              <li><a href="http://factory.couchbase.com/view/All/job/sherlock-windows">Sherlock-Windows</a></li>
              <li><a href="http://mobile.jenkins.couchbase.com/view/All">Mobile-Builds</a></li>
            </ul>
    </span>   
    <span class="dropdown" style="margin:5%">
        <a href="javascript:void(0)">Downloads<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://172.23.120.24/builds/latestbuilds/couchbase-server/vulcan/">Vulcan</a></li>
              <li><a href="http://172.23.120.24/builds/latestbuilds/couchbase-server/spock/">Spock</a></li>
              <li><a href="http://172.23.120.24/builds/latestbuilds/couchbase-server/watson/">Watson</a></li>
              <li><a href="http://172.23.120.24/builds/latestbuilds/couchbase-server/sherlock/">Sherlock</a></li>
              <li><a href="http://latestbuilds.hq.couchbase.com/couchbase-sync-gateway/">Sync_Gateway</a></li>
              <li><a href="http://latestbuilds.hq.couchbase.com/couchbase-lite-ios/">CBLite-iOS</a></li>
              <li><a href="http://latestbuilds.hq.couchbase.com/couchbase-lite-java/">CBLite-Java</a></li>
              <li><a href="http://latestbuilds.hq.couchbase.com/couchbase-lite-android/">CBLite-Android</a></li>
              <li><a href="http://latestbuilds.hq.couchbase.com/couchbase-lite-net/">CBLite-NET</a></li>
    </span>
</div>

<!-- ========== Build History SIDE BAR ============ -->
<div class="bb_sidebar">
	<br><p><font size="5px">Build History</font></p>
	<a href="/builds/5.1.0" style="color:red; font-size:18px;">Vulcan</a><br>
	<a href="/builds/5.0.0" style="color:red; font-size:18px;">Spock</a><br>
	<a href="/builds/4.6.3" style="color:red; font-size:18px;"">Watson</a><br>
	<br><br><br>
</div>

<!-- ============ MAIN (SECTION) ============== -->
<div class="bb_section">
    {% block content %}{% endblock %}
</div>

<!-- ============ FOOTER ============== -->
<div class="bb_footer">
	<p>Copyright &copy; 2015-2017 Couchbase Inc</p>
</div>
</div>

</body>

</html>
