<?xml version="1.0"?>

<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
	<channel>
		<title>Updates for Couchbase Server</title>
		<link>http://appcast.couchbase.com/membasex.xml</link>
		<description>Recent changes to Membase.</description>
		<language>en</language>
		<item>
			<title>Version ${version}</title>
                        <sparkle:version>${version}</sparkle:version>
			<!-- date -u +"%a, %d %b %Y %H:%M:%S GMT" -->
			<pubDate>${date}</pubDate>
                        <link>https://www.couchbase.com/downloads/?family=couchbase-server</link>
                        <description><![CDATA[
                          New features and improvements in this release can be found in the
                          <a href="https://docs.couchbase.com/server/current/release-notes/relnotes.html">release notes</a>
                          ]]>
                       </description>
		</item>
	</channel>
</rss>
